[submodule "Tizen/tizen-helper"]
	path = Tizen/tizen-helper
	url = https://notabug.org/tizen/tizen-helper
[submodule "Yocto/meta-oic"]
	path = Yocto/meta-oic
	url = git://git.yoctoproject.org/meta-oic
[submodule "Tizen/ekzekuto"]
	path = Tizen/ekzekuto
	url = https://github.com/rzr/ekzekuto.git
[submodule "Tizen/iotivity"]
	path = Tizen/iotivity
	url = https://git.tizen.org/cgit/contrib/iotivity.git
	branch = sandbox/pcoval/latest
[submodule "Tizen/mraa"]
	path = Tizen/mraa
	url = https://git.tizen.org/cgit/contrib/mraa.git
	branch = sandbox/pcoval/tizen
[submodule "Tizen/iotivity-example-wearable-2.3.1"]
	path = Tizen/iotivity-example-wearable-2.3.1
	url = http://github.com/TizenTeam/iotivity-example.git
	branch = sandbox/pcoval/tizen/wearable-2.3.1
[submodule "Tizen/iotivity-example-mobile-2.4"]
	path = Tizen/iotivity-example-mobile-2.4
	url = http://github.com/TizenTeam/iotivity-example.git
	branch = sandbox/pcoval/tizen/mobile-2.4
