[submodule "Tizen/tizen-helper"]
	path = Tizen/tizen-helper
	url = https://notabug.org/tizen/tizen-helper
[submodule "Yocto/meta-oic"]
	path = Yocto/meta-oic
	url = git://git.yoctoproject.org/meta-oic
